<%= simple_form_for @recipe do |f| %>
	<%= f.input :title, type: 'title' %>
	<%= f.input :description, type: 'description' %>
	<%= f.hidden_field :user_id, :value => current_user.id %>

		<%= f.simple_fields_for :ingredients do |ingredient| %>
			<%= render 'ingredient_fields', f: ingredient %>
		<% end %>
		<div>		
		<%= link_to_add_association 'Add Ingredient', f, :ingredients %>
		</div>

		<%= f.simple_fields_for :instructions do |instruction| %>
			<%= render 'instruction_fields', f: instruction %>
		<% end %>
		<div>	
		<%= link_to_add_association 'Add Step', f, :instructions %>
		</div>
		
	<%= f.submit %>
<%end%>
<%= link_to "Back", user_path(current_user) %>