<div id="recipe-form-wrapper">
		<%= simple_form_for @recipe do |f| %>
			<div id="recipe-info-box">
				<div id="recipe-form-box">
					<div>
						<%= image_tag "https://s3-ap-southeast-1.amazonaws.com/stalfire/us_img_recipe_default_600x600.jpg",{id:'recipe_form_image'}%>
					</div>
					<%= f.file_field :avatar, multiple: true%>
				</div>
				<div id="recipe-form-info">
					<div class="group">
						<%= f.input :title, type: 'title',label: 'Recipe Name'%>     
				    </div>
				    <div id="recipe_form_select">
					  <%= f.select(:category, ['Dessert', 'Appetizer', 'Breakfast', 'Main Course', 'Bread', 'Other'], {include_blank: "Select Type of Recipe"}) %>
					</div>
					<% if current_user.reg_user? %>
						<%= f.hidden_field :user_id, :value => current_user.id %>
					<%end%>
				</div>
				<div id="recipe-form-info2">
					<div class="group">      
				      <%= f.input :description, type: 'description',label: 'Recipe Description' %>
				    </div>
				    <div class="group">      
				      <%= f.input :duration, type: 'duration',label: 'Preparation Time' %>
				    </div>
				</div> 
			</div>
	<div id="recipe-wrapper-box">	
		<div id="recipe-ingredient-box">
			<div id="recipe_show_title">
					<p>Ingredients</p>
					<p>Amount</p>
			</div>
			<%= f.simple_fields_for :ingredients do |ingredient| %>
				<%= render 'ingredient_fields', f: ingredient %>
			<% end %>
			<div class="link">		
				<%= link_to_add_association 'Add Ingredient', f, :ingredients, :class => "addIngredientsButton" %>
			</div>
		</div>
		<div id="recipe-instruction-box">
			<div id="recipe_show_title2">
					<p>Cooking Steps</p>
			</div>
			<%= f.simple_fields_for :instructions do |instruction| %>
				<%= render 'instruction_fields', f: instruction %>
			<% end %>
			<div class="link">	
				<%= link_to_add_association 'Add Step', f, :instructions, :class => "addInstructionsButton" %>
			</div>
		</div>	
	</div>	
		<div id="recipe-form-btn">
			<%= f.submit %>
		</div>
		<%end%>
</div>
