<div class="recipe-body">
	<div class="flex-container">
	    <div class="category">
	        <%=link_to (image_tag "http://p3cdn4static.sharpschool.com/UserFiles/Servers/Server_550661/Image/Chartwells/breakfast2-512.png",{class:"category_image"}),recipes_path(category:"Breakfast")%> 
	        <h4> Breakfast </h4>
	    </div>

	    <div class="category">
	        <%=link_to (image_tag "https://cdn.iconscout.com/public/images/icon/premium/png-512/appetizer-food-restaurant-30b7e33ede9d3dc0-512x512.png",{class:"category_image"}),recipes_path(category:"Appetizer")%>
	        <h4> Appetizer </h4>
	    </div>

	    <div class="category">
	        <%=link_to (image_tag "https://cdn.iconscout.com/public/images/icon/premium/png-512/main-course-food-restaurant-chicken-36e80d3fc6149a59-512x512.png",{class:"category_image"}),recipes_path(category:"Main Course")%> 
	       <h4> Main Course </h4>
	    </div>

	    <div class="category">
	        <%=link_to (image_tag "http://www.freeiconspng.com/uploads/bread-icon-18.png",{class:"category_image"}),recipes_path(category:"Bread")%>
	        <h4> Bread </h4>
	    </div>

	    <div class="category">
	        <%=link_to (image_tag "http://www.e-eventist.com/wp-content/uploads/2016/03/97-512.png",{class:"category_image"}),recipes_path(category:"Dessert")%> 
	        <h4> Dessert </h4>
	    </div>

	    <div class="category">
	        <%=link_to (image_tag "https://cdn2.iconfinder.com/data/icons/eshop-outline-pack/100/Noun_Project_20Icon_5px_grid-13-512.png",{class:"category_image"}),recipes_path(category:"Other")%>
	        <h4> Other </h4>
	    </div>
	</div>
	<hr class="line_style">
		<div id="recipe-index-wrapper">
			<% @recipes.each do |f| %>
				<div class="recipe-index-box">
					<div class="recipe-index-image">
						
					</div>
					<p><%= link_to f.title, f%></p>
					<p><%= f.description %></p>
				</div>
			<%end%>
		<div>
</div>
