<body class="recipe-body">
<div>
	<div class="flex-container">
	    <div class="category">
	        <%=link_to (image_tag "https://s3-ap-southeast-1.amazonaws.com/stalfire/breakfast2-512.png",{class:"category_image"}),recipes_path(category:"Breakfast")%> 
	        <h4> Breakfast </h4>
	    </div>

	    <div class="category">
	        <%=link_to (image_tag "https://s3-ap-southeast-1.amazonaws.com/stalfire/appetizer.png",{class:"category_image"}),recipes_path(category:"Appetizer")%>
	        <h4> Appetizer </h4>
	    </div>

	    <div class="category">
	        <%=link_to (image_tag "https://s3-ap-southeast-1.amazonaws.com/stalfire/main-course.png",{class:"category_image"}),recipes_path(category:"Main Course")%> 
	       <h4> Main Course </h4>
	    </div>

	    <div class="category">
	        <%=link_to (image_tag "https://s3-ap-southeast-1.amazonaws.com/stalfire/bread-icon.png",{class:"category_image"}),recipes_path(category:"Bread")%>
	        <h4> Bread </h4>
	    </div>

	    <div class="category">
	        <%=link_to (image_tag "https://s3-ap-southeast-1.amazonaws.com/stalfire/dessert.png",{class:"category_image"}),recipes_path(category:"Dessert")%> 
	        <h4> Dessert </h4>
	    </div>

	    <div class="category">
	        <%=link_to (image_tag "https://s3-ap-southeast-1.amazonaws.com/stalfire/other.png",{class:"category_image"}),recipes_path(category:"Other")%>
	        <h4> Other </h4>
	    </div>
	</div>
	<hr class="line_style">
		<div id="recipe-index-wrapper">
			<% @recipes.each do |f| %>
				<div class="recipe-index-box">
					<div class="recipe-index-image">
						<%if f.avatar[0] != nil%>
						<%= link_to (image_tag f.avatar[0],{id:'recipe-index-image-size'}), f%>
						<%else%>
						<%= link_to (image_tag "https://s3-ap-southeast-1.amazonaws.com/stalfire/us_img_recipe_default_600x600.jpg",{id:"recipe-index-image-size"}),f%>
						<%end%>
					</div>
					<p><%= f.title %></p>
				</div>
			<%end%>
		<div>
</div>
</body>