<script>
	$(document).ready(function(){
		var like_btn = $('#like_btn');
		$("#like_btn").on("click",function() {
		    if (like_btn.attr('value') == 'Like') {
		        like_btn.val("Liked");
		        console.log("get liked")
		    } else {
		        like_btn.val("Like"); 
		        console.log("unliked")
		    }; 
		});

		$('#like_btn').submit(function(e){
			e.preventDefault();
			$.ajax({
				url: '/like.#{@recipe.id}',
				method: 'POST',
				data: $(this).serialize(),
				dataType: 'json',
				success: function(data){
					console.log(data);
					// $(this).append('\<p>' + testing +'</td>\ ');
				}		
			})
		});
	});
</script>
<body class="recipe-body">
	<div id="recipe-form-wrapper">
		<div id="recipe_show_info_box">
			<div>
				<%if @recipe.avatar[0] != nil%>
				<%= image_tag @recipe.avatar[0],{id:'recipe_image'}%>
				<%else%>
				<%= image_tag "https://s3-ap-southeast-1.amazonaws.com/stalfire/5222813300aeedfaa9d85eacab199d32--fondant-recipes-frosting-recipes.jpg",{id:'recipe_image'}%>
				<%end%>
			</div>
			<div style="width: 200%">
				<h1 class="recipe_title" style="text-align: left;"><%= @recipe.title %></h1>
				<p class="recipe_category"><%= @recipe.category %></p>
				<p class="recipe_description"><%= @recipe.description %></p>
			</div>
			<div id="recipe_show_duration_and_like">
				<div id="recipe_show_duration">
					<p>Preparation Time</p>
					<p><%= @recipe.duration %></p>
				</div>
				<div class="like-content">
					<%if @liked == nil %>
						<%= button_to "Like", like_path(@recipe),{id: "like_btn"}%>
					<%else%>
						<%= button_to "Liked", like_path(@recipe),{id: "like_btn"}%>
					<%end%>
					<p id="total_like"><%= @total_count%></p>
				</div>
			</div>
		</div>
		<div id="recipe-wrapper-box">	
			<div id="recipe-ingredient-box">
				<div id="recipe_show_title">
					<p>Ingredients</p>
					<p>Amount</p>
				</div>
			<% @recipe.ingredients.each do |ing|%>
				<div class="ingredients_show">
					<p><%= ing.name %></p>
					<p><%= ing.amount %></p>
				</div>
				<hr>
			<%end%>
			</div>
			<div id="recipe-instruction-box">
				<div id="recipe_show_title2">
					<p>Cooking Steps</p>
				</div>
				<% @recipe.instructions.each_with_index do |inst, index| %>
					<div class="instructions_show">
						<p><%= (index+1) %>. <%= inst.step %></p>
					</div>
					<hr>
				<%end%>

			</div>
	</div>
	<div id="button_for_edit_destroy">
	<%if current_user != nil%>
		<%if @recipe.user_id == current_user.id || current_user.admin? %>
			<%= link_to "Edit", edit_recipe_path %>
			<%= link_to "Delete", recipe_path, method: :delete, data: {confirm: "Are you sure ?"} %>
		<%end%>
	<%end%>
	</div>
	<div id="link_for_creator">
		<p>Created by: <%= link_to @recipe.user.name, user_path(@recipe.user_id) %></p>
	</div>
</body>