<%= @recipe.title %>
<% @recipe.ingredients.each do |ing|%>
	<p><%= ing.name %></p>
<%end%>
<% @recipe.instructions.each do |inst| %>
	<p><%= inst.step %></p>
<%end%>

<%= link_to "Edit", edit_recipe_path %>
<%= link_to "Delete", recipe_path, method: :delete, data: {confirm: "Are you sure ?"} %>