<script>
	$(document).ready(function(){
		$("#like_btn").on("click",function() {
		    if ($(this).text() == "Like") {
		        $(this).text("Liked");
		    } else {
		        $(this).text("Like"); 
		    }; 
		});

		// $('#like_btn').submit(function(e){
		// 	e.preventDefault();
		// 	$.ajax({
		// 		url: '/like',
		// 		method: 'POST',
		// 		data: $(this).serialize(),
		// 		dataType: 'json',
		// 		success: function(data){
		// 			console.log(data);
		// 			// $(this).append('\<p>' + testing +'</td>\ ');
		// 		}		
		// 	})
		// });
	});
	$(function() {

	  // Change the link's icon while the request is performing
	  $(document).on('click', 'a[data-remote]', function(event, b, c) {
	    var icon = $(this).find('i');
	    icon.data('old-class', icon.attr('class'));
	    icon.attr('class', 'icon-refresh');
	  });

	  // Change the link's icon back after it's finished.
	  $(document).on('ajax:complete', function(e) {
	    var icon = $(e.target).find('i');
	    if (icon.data('old-class')) {
	      icon.attr('class', icon.data('old-class'));
	      icon.data('old-class', null);
	    }
	  })

	  // Don't fail silently
	  $(document).ajaxError(function( event, jqxhr, settings, exception ) {
	    if (jqxhr.status) {
	      alert("We're sorry, but something went wrong (" + jqxhr.status + ')');
	    }
	  });

	})
</script>
<body class="recipe-body">
	<div id="recipe-form-wrapper">
		<div id="recipe_show_info_box">
			<div>
				<%if @recipe.avatar[0] != nil%>
				<%= image_tag @recipe.avatar[0],{id:'recipe_image'}%>
				<%else%>
				<%= image_tag "https://s3-ap-southeast-1.amazonaws.com/stalfire/5222813300aeedfaa9d85eacab199d32--fondant-recipes-frosting-recipes.jpg",{id:'recipe_image'}%>
				<%end%>
			</div>
			<div style="width: 200%">
				<h1 class="recipe_title" style="text-align: left;"><%= @recipe.title %></h1>
				<p class="recipe_category"><%= @recipe.category %></p>
				<p class="recipe_description"><%= @recipe.description %></p>
			</div>
			<div id="recipe_show_duration_and_like">
				<div id="recipe_show_duration">
					<p>Preparation Time</p>
					<p><%= @recipe.duration %></p>
				</div>
				<div class="like-content">
				<!-- <button type="button" href="/recipe.${@recipe.id}" id="like_btn">Like</button> -->
				<%= button_to "Like", like_path(@recipe),{id: "like_btn"}%>
				<p><%= @total_count%><p>
					<!-- <button type='button' >
						<%if @liked == nil %>
					  		<i id="likebtn"><%= link_to "Like", like_path(@recipe),{id: "like_btn"}%></i>
					  	<%else%>
				  			<i id="likebtn"><%= link_to "Liked", like_path(@recipe),{id: "like_btn"}%></i>
				  		<%end%>
					  <span>0</span>
					</button>
 
					<%if @liked == nil %>
				  		<button class="like-review"><%= link_to "Like", like_path(@recipe),{id: "like_btn"}%></button>
				  	<%else%>
				  		<button class="like-review"><%= link_to "Liked", like_path(@recipe),{id: "like_btn"}%></button>
				  	<%end%> -->
				</div>
			</div>
		</div>
		<div id="recipe-wrapper-box">	
			<div id="recipe-ingredient-box">
				<div id="recipe_show_title">
					<p>Ingredients</p>
					<p>Amount</p>
				</div>
			<% @recipe.ingredients.each do |ing|%>
				<div class="ingredients_show">
					<p><%= ing.name %></p>
					<p><%= ing.amount %></p>
				</div>
				<hr>
			<%end%>
			</div>
			<div id="recipe-instruction-box">
				<div id="recipe_show_title2">
					<p>Cooking Steps</p>
				</div>
				<% @recipe.instructions.each_with_index do |inst, index| %>
					<div class="instructions_show">
						<p><%= (index+1) %>. <%= inst.step %></p>
					</div>
					<hr>
				<%end%>

			</div>
	</div>
	<div id="button_for_edit_destroy">
	<%if current_user != nil%>
		<%if @recipe.user_id == current_user.id || current_user.admin? %>
			<%= link_to "Edit", edit_recipe_path %>
			<%= link_to "Delete", recipe_path, method: :delete, data: {confirm: "Are you sure ?"} %>
		<%end%>
	<%end%>
	</div>
	<div id="link_for_creator">
		<p>Created by: <%= link_to @recipe.user.name, user_path(@recipe.user_id) %></p>
	</div>
</body>