<div class="recipe-body">
	<div id="recipe-form-wrapper">
		<div id="recipe_show_info_box">
			<div id="recipe_show_image">
				<%= image_tag @recipe.avatar[0],{id:'recipe_image'}%>
			</div>
			<div>
				<h1 id="recipe_title"><%= @recipe.title %></h1>
				<p id="recipe_category"><%= @recipe.category %></p>
				<p id="recipe_description"><%= @recipe.description %></p>
			</div>
		</div>
		<div id="recipe-wrapper-box">	
			<div id="recipe-ingredient-box">
				<div id="recipe_show_title">
					<p>Ingredients</p>
					<p>Amount</p>
				</div>
			<% @recipe.ingredients.each do |ing|%>
				<div class="ingredients_show">
					<p><%= ing.name %></p>
					<p><%= ing.amount %></p>
				</div>
				<hr>
			<%end%>
			</div>
			<div id="recipe-instruction-box">
				<div id="recipe_show_title2">
					<p>Cooking Steps</p>
				</div>
				<% @recipe.instructions.each_with_index do |inst, index| %>
					<div class="instructions_show">
						<p><%= (index+1) %>. <%= inst.step %></p>
					</div>
					<hr>
				<%end%>

			</div>
	</div>
	<%if current_user != nil%>
		<%if @recipe.user_id == current_user.id%>
			<%= link_to "Edit", edit_recipe_path %>
			<%= link_to "Delete", recipe_path, method: :delete, data: {confirm: "Are you sure ?"} %>
		<%end%>
	<%end%>
</div>