<script>
	$(document).ready(function(){
	$("#following_btn").click(function() {
	    if ($(this).text() == "Follow") {
	        $(this).text("Following");
	        $("#follow_count").html(function(i, val) {
			      return val * 1 + 1;
			}); 
	    } else {
	        $(this).text("Follow");
	        $("#follow_count").html(function(i, val) {
			      return val * 1 - 1;
			}); 
	    }; 
	});
	});
</script>
<body id="user_show_main">
	<div class="frame">
	  <div class="center">
	    
			<div class="profile">
				<div class="image">
					<div class="circle-1"></div>
					<div class="circle-2"></div>
					<%if @user.avatar?%>
						<%= image_tag @user.avatar%>
					<%else%>
						<%= image_tag "https://s3-ap-southeast-1.amazonaws.com/stalfire/5222813300aeedfaa9d85eacab199d32--fondant-recipes-frosting-recipes.jpg"%>
					<%end%>	
				</div>
				
				<div class="name"><%= @user.name %></div>
				<div class="email"><%= @user.email %></div>
				
				<div class="actions">
					<%if current_user != nil %>
						<%if @user.id == current_user.id%>
							<button class="btn"><%= link_to "My Recipe", recipes_path(user_id: @user.id)%></button>
						<%else%>
							<%if @following == nil %>
								<button class="btn"><%= link_to "Follow", follow_path(@user),{id: "following_btn"}%></button>
							<%else%>
								<button class="btn"><%= link_to "Following", follow_path(@user),{id: "following_btn"}%></button>
							<%end%>
						<%end%>
						<%if @user.id == current_user.id%>
							<button class="btn"><%= link_to "Edit Profile", edit_user_path(current_user.id),{id:"edit_profile_button"} %></button>
						<%else%>	
							<button class="btn"><%= link_to "Recipes", recipes_path(user_id: @user.id) %></button>	
						<%end%>
					<%else%>
						<button class="btn"><%= link_to "My Recipe", recipes_path(user_id: @user.id)%></button>
					<%end%>
				</div>
			</div>
			
			<div class="stats">
				<div class="box">
					<span class="value" ><%= @recipe %></span>
					<span class="parameter">Recipe Created</span>
				</div>
				<div class="box">
					<span class="value"><%= @total_like%></span>
					<span class="parameter">Recipe Likes</span>
				</div>
				<div class="box">
					<span class="value" id="follow_count"><%= @follower %></span>
					<span class="parameter">Follower</span>
				</div>
			</div>
	  </div>
	</div>
</body>
