<nav>
	<%= link_to (image_tag 'http://www.pvhc.net/img13/klsuorjzammndsuzvqfa.png',{id: 'nav-icon'}),root_path %>
	<%= link_to "All Recipe", recipes_path,{class:'nav-position-left'} %>
	<%= link_to "Surprise Me", '/',{class:'nav-position-left'} %>

	<%if logged_in?%>
		<%= link_to ("Log out"), logout_path, method: :delete, :class => 'nav-position-right' %>
		<%= link_to "Create new recipe", new_recipe_path,{class:'nav-position-right'} %>
	<%else%>
		<%= link_to ("sign up"), sign_up_path,{class:'nav-position-right'}%>
		<%= link_to ("sign in"), login_path,{class:'nav-position-right'} %>
	<%end%>
</nav>